### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load, header=0)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data["SN"].value_counts().count()
df_players = pd.DataFrame({"Total No of Players":[total_players]})
df_players

   Total No of Players
0                  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
total_pur = purchase_data["Item ID"].count()
uniq_items = purchase_data["Item ID"].nunique()
avg_price = round(purchase_data["Price"].mean(),2)
total_rev = purchase_data["Price"].sum()
best_seller = purchase_data["Item ID"].value_counts().head()
least_sold = purchase_data['Item ID'].value_counts(ascending=True).head(12)
fan_list = purchase_data["SN"].value_counts().head()
loyal_fan = purchase_data["SN"].mode()
sold_per_user = uniq_items/len(purchase_data["SN"].value_counts())

df = pd.DataFrame(
    {"No. of Unique Items":[uniq_items],
     "Avg Price":[avg_price],
     "Number of Purchases":[total_pur],
     "Total Revenue":[total_rev]})
df

   No. of Unique Items  Avg Price  Number of Purchases  Total Revenue
0                  183       3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#total_players = purchase_data["SN"].value_counts().count()
# df_players = pd.DataFrame([total_players], index=["Total No of Players"])
dem_players = purchase_data.groupby("Gender")["SN"].nunique()
sum_dem= dem_players.sum()

male_players = dem_players["Male"]
perc_m = round(male_players/sum_dem*100,2)

female_players = dem_players["Female"]
perc_f = round(female_players/sum_dem*100,2)

ond_players = dem_players["Other / Non-Disclosed"]
perc_ond = round(ond_players/sum_dem*100,2)

dem_df=pd.DataFrame({
            "Total Count":[male_players,female_players,ond_players],
            "Percentage of Players":[perc_m,perc_f,perc_ond]},index=["Male","Female","Other/Non-Disclosed"])
dem_df

                     Total Count  Percentage of Players
Male                         484                  84.03
Female                        81                  14.06
Other/Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#Purchase Count
num_purchases = purchase_data.groupby("Gender")["Purchase ID"].nunique()

#Avg Purchase Price by Gender
avg_p = round(purchase_data.groupby("Gender")["Price"].mean(),2)

#Total Purchase Value
tpv = purchase_data.groupby("Gender")["Price"].sum()

#Avg Purchase Total per Person 
gender_df = purchase_data.groupby(["Gender","SN"]).Price.agg(['sum'])
f_avg = gender_df.loc["Female"].mean()
f_avg = f_avg.loc['sum'].round(2)
m_avg = gender_df.loc["Male"].mean()
m_avg = m_avg.loc['sum'].round(2)
o_avg = gender_df.loc["Other / Non-Disclosed"].mean()
o_avg = o_avg.loc['sum'].round(2)

#Summary
g_df = pd.DataFrame(
    {"Purchase Count":num_purchases, "Average Purchase Price":avg_p, "Total Purchase Value":tpv,
     "Avg Total Purchase Total per Person":[f_avg,m_avg,o_avg]})
g_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Total per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
bins = [0, 9, 14, 19, 24,29,34,39,100]
bin_names = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']

pd.cut(purchase_data["Age"], bins, labels=bin_names)
# Add column " " for bin categories
purchase_data[" "] = pd.cut(purchase_data["Age"], bins, labels=bin_names)

#Group duplicate SNs and bins
group_SN_age = purchase_data.groupby(["SN"," "])
#Return the number of rows if Series
group_SN_age.size()

age_summary = pd.DataFrame(group_SN_age.size().groupby([" "]).count())
age_summary.columns=["Total Count"]
age_summary["Percentage of Players"] =round((age_summary["Total Count"]/age_summary["Total Count"].sum())*100,2)

age_summary

       Total Count  Percentage of Players

<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
bins = [0, 9, 14, 19, 24,29,34,39,100]
bin_names = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']

pd.cut(purchase_data["Age"], bins, labels=bin_names)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
fan_list = purchase_data["SN"].value_counts().head(5)
top_spenders = pd.DataFrame(fan_list)
top_spenders

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Filter the columns
new_df = purchase_data[['Item ID','Item Name','Price']]
new_df

# Groupby Item ID and Item Name
tpv = new_df.groupby(['Item ID','Item Name'])
#Find Total Purchase Value (TPV)
tpv_b= tpv.sum().sort_values("Price",ascending=False)

# Find Item Price
ip= tpv["Price"].value_counts()
ip

# Sum of ea unit sold (Sort by this result!)
ct = tpv["Price"].count().to_frame().sort_values('Price',ascending=False)
ct

# Find unique Item Names
uin=tpv["Item Name"].unique()
uin

pop = pd.merge(uin,ct,ip,tpv_b, how='outer', on='Item ID')
pop

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#Sort by Total Purchase Value