### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os
from pandas.io.formats.style import Styler

# File to Load (Remember to Change These)
file_to_load = os.path.join("Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load, header=0)

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data["SN"].value_counts().count()
df_players = pd.DataFrame({"Total No of Players":[total_players]})
df_players

   Total No of Players
0                  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
total_pur = purchase_data["Item ID"].count()
uniq_items = purchase_data["Item ID"].nunique()
avg_price = round(purchase_data["Price"].mean(),2)
total_rev = purchase_data["Price"].sum()
best_seller = purchase_data["Item ID"].value_counts().head()
least_sold = purchase_data['Item ID'].value_counts(ascending=True).head(12)
fan_list = purchase_data["SN"].value_counts().head()
loyal_fan = purchase_data["SN"].mode()
sold_per_user = uniq_items/len(purchase_data["SN"].value_counts())

df = pd.DataFrame(
    {"No. of Unique Items":[uniq_items],
     "Avg Price":[avg_price],
     "Number of Purchases":[total_pur],
     "Total Revenue":[total_rev]})
df.style.format({"Avg Price":"${:20,.2f}","Total Revenue":"${:20,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#total_players = purchase_data["SN"].value_counts().count()
# df_players = pd.DataFrame([total_players], index=["Total No of Players"])
dem_players = purchase_data.groupby("Gender")["SN"].nunique()
sum_dem= dem_players.sum()

male_players = dem_players["Male"]
perc_m = round(male_players/sum_dem*100,2)

female_players = dem_players["Female"]
perc_f = round(female_players/sum_dem*100,2)

ond_players = dem_players["Other / Non-Disclosed"]
perc_ond = round(ond_players/sum_dem*100,2)

dem_df=pd.DataFrame({
            "Total Count":[male_players,female_players,ond_players],
            "Percentage of Players":[perc_m,perc_f,perc_ond]},index=["Male","Female","Other/Non-Disclosed"])
            
dem_df = dem_df.style.format({"Percentage of Players": lambda x:str(x)+"%"})

dem_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Purchase Count
num_purchases = purchase_data.groupby("Gender")["Purchase ID"].nunique()

#Avg Purchase Price by Gender
avg_p = round(purchase_data.groupby("Gender")["Price"].mean(),2)

#Total Purchase Value
tpv = purchase_data.groupby("Gender")["Price"].sum()

#Avg Purchase Total per Person 
gender_df = purchase_data.groupby(["Gender","SN"]).Price.agg(['sum'])
f_avg = gender_df.loc["Female"].mean()
f_avg = f_avg.loc['sum'].round(2)
m_avg = gender_df.loc["Male"].mean()
m_avg = m_avg.loc['sum'].round(2)
o_avg = gender_df.loc["Other / Non-Disclosed"].mean()
o_avg = o_avg.loc['sum'].round(2)

#Summary
g_df = pd.DataFrame(
    {"Purchase Count":num_purchases, "Average Purchase Price":avg_p, "Total Purchase Value":tpv,
     "Avg Total Purchase Total per Person":[f_avg,m_avg,o_avg]})

g_df.style.format({"Average Purchase Price":"${:20,.2f}",
                   "Total Purchase Value":"${:20,.2f}",
                   "Avg Total Purchase Total per Person":"${:20,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 9, 14, 19, 24,29,34,39,100]
bin_names = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']

pd.cut(purchase_data["Age"], bins, labels=bin_names)
# Add column " " for bin categories
purchase_data[" "] = pd.cut(purchase_data["Age"], bins, labels=bin_names)

#Group duplicate SNs and bins
group_SN_age = purchase_data.groupby(["SN"," "])
#Return the number of rows if Series
group_SN_age.size()

age_summary = pd.DataFrame(group_SN_age.size().groupby([" "]).count())
age_summary.columns=["Total Count"]
age_summary["Percentage of Players"] =round((age_summary["Total Count"]/age_summary["Total Count"].sum())*100,2)
age_summary.style.format({"Percentage of Players": lambda x:str(x)+"%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Establish bins and labels
bins = [0, 9, 14, 19, 24,29,34,39,100]
bin_names = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']

#Create a new column "Age Ranges" and append to purchase_data.csv
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=bin_names)

#Obtain Purchase Count by age bin
pur_ct_by_age = purchase_data.groupby(['Age Ranges']).count()['Price'].rename("Avg Purchase Count")

#Obtain Average Purchase Price
avg_pur_price_by_age = purchase_data.groupby(['Age Ranges']).mean()['Price'].rename("Avg Purchase Price")

#Obtain Total Purchase Value
purchase_total_by_age = purchase_data.groupby(['Age Ranges']).sum()['Price'].rename("Total Purchase Value")

#Avg Total Purchase per Person
avg_tot_pp= purchase_total_by_age/age_summary["Total Count"]

age_group_sum=pd.DataFrame(
    {"Purchase Count":pur_ct_by_age,
     "Average Purchase Price":avg_pur_price_by_age,
     "Total Purchase Value":purchase_total_by_age,
     "Avg Total Purchase per Person":avg_tot_pp})

#Add currency formatting to applicable columns
age_group_sum = (age_group_sum.style.format({"Average Purchase Price":"${:20,.2f}","Total Purchase Value":"${:20,.2f}","Avg Total Purchase per Person":"${:20,.2f}"}))
age_group_sum

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
fan_list = purchase_data["SN"].value_counts().head(5)
top_spenders = pd.DataFrame(fan_list)

#Obtain Purchase Count
purchase_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
purchase_count

# Avg Purchase Price
avg_pur_price = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")

# Total Purchase Value
tot_pur_price = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")

spendydf = pd.DataFrame({
    "Purchase Count":purchase_count,
    "Average Purchase Price":avg_pur_price, 
    "Total Purchase Value":tot_pur_price})

#Reset index to add SN as a column, sort Total Purchase Value, 
#Set SN back to index, apply currency formatting to Total Purchase Value (style does not have sort or set index!)
spendydf = (spendydf.reset_index()
            .sort_values(by="Total Purchase Value",ascending=False)
            .set_index('SN')
            .head()
            .style.format({"Total Purchase Value":"${:20,.2f}","Average Purchase Price":"${:20,.2f}"}))
spendydf

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Filter the columns
pop_items = purchase_data[['Item ID','Item Name','Price']]

# Groupby Item ID and Item Name, then find the Purchase Count
purchase_count = pop_items.groupby(['Item ID','Item Name']).count()["Price"].rename("Purchase Count")

#Find Item Price
item_price = pop_items.groupby(['Item ID','Item Name'])["Price"].unique().str.get(0)

#Find Total Purchase Value (TPV)
tpv = pop_items.groupby(['Item ID','Item Name']).sum()["Price"]

pop_df = pd.DataFrame({"Purchase Count":purchase_count,"Item Price":item_price,"Total Purchase Value":tpv})

# Reset index to add Item ID and Item Name as columns, sort Purchase Count, 
# Set Item ID and Item Name back to index, apply currency formatting to Total Purchase Value (style does not have sort or set index!)
most_popular = (pop_df.reset_index()
            .sort_values(by="Purchase Count",ascending=False)
            .set_index(['Item ID','Item Name'])
            .head()
            .style.format({"Item Price":"${:20,.2f}","Total Purchase Value":"${:20,.2f}"}))
most_popular

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#Sort by Total Purchase Value
most_profitable = (pop_df.reset_index()
                   .sort_values(by="Total Purchase Value",ascending=False)
                   .set_index(['Item ID','Item Name'])
                   .head()
                   .style.format({"Item Price":"${:20,.2f}","Total Purchase Value":"${:20,.2f}"}))
most_profitable